<!-- src/app/app.component.html -->
<h1>Bitcoin Price</h1>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<div *ngIf="bitcoinPrices">
  <p class="price">Current Bitcoin price in USD: {{ bitcoinPrices.bitcoinPriceUSD }}</p>
  <p class="price">Current Bitcoin price in GBP: {{ bitcoinPrices.bitcoinPriceGBP }}</p>
  <p class="price">Current Bitcoin price in EUR: {{ bitcoinPrices.bitcoinPriceEUR }}</p>
  <p class="price">Last updated: {{ bitcoinPrices.updatedTime }}</p>
</div>
